/*
 |--------------------------------------------------------------------------
 | Accordion Component
 |--------------------------------------------------------------------------
 | Documentation details:
 | https://getbootstrap.com/docs/5.1/components/accordion/#variables
 |
 */

$accordion-padding-x: 0;
$accordion-button-icon: none;
$accordion-button-active-icon: none;
$accordion-body-padding-y: 0;
$accordion-button-padding-y: 0;
$accordion-border-radius: 0;
