/*
 |--------------------------------------------------------------------------
 | Alert Component
 |--------------------------------------------------------------------------
 | Documentation details:
 | https://getbootstrap.com/docs/5.1/components/alerts/#variables
 |
 */

$alert-padding-y: $spacer * 1;
$alert-padding-x: $spacer * 1.25;
$alert-border-radius: $border-radius-md;
$alert-border-width: 0;
$alert-bg-scale: 0;
$alert-border-scale: 0;
$alert-color-scale: 0;
