/*
 |--------------------------------------------------------------------------
 | Form Control Component
 |--------------------------------------------------------------------------
 | Documentation details:
 | https://getbootstrap.com/docs/5.1/forms/overview/#variables
 |
 */

$input-border-color: $gray-300;
$input-border-radius: $border-radius-md;
$input-border-radius-sm: $border-radius-md;
$input-border-radius-lg: $border-radius-md;
$input-placeholder-color: $gray-500;
$input-disabled-bg: $gray-100;
$input-focus-bg: $white;
