/*
 |--------------------------------------------------------------------------
 | Form Select Component
 |--------------------------------------------------------------------------
 | Documentation details:
 | https://getbootstrap.com/docs/5.1/forms/select/#variables
 |
 */

$form-select-border-color: $gray-300;
$form-select-border-radius: $border-radius-md;
$form-select-disabled-bg: $gray-100;
