/*
 |--------------------------------------------------------------------------
 | Input Group Component
 |--------------------------------------------------------------------------
 | Documentation details:
 | https://getbootstrap.com/docs/5.1/forms/input-group/#variables
 |
 */

$input-group-addon-padding-x: $spacer * 0.75;
$input-group-addon-color: $gray-600;
$input-group-addon-bg: $gray-100;
