/*
 |--------------------------------------------------------------------------
 | Modal Component
 |--------------------------------------------------------------------------
 | Documentation details:
 | https://getbootstrap.com/docs/5.1/components/modal/#variables
 |
 */

$modal-inner-padding: $spacer * 1.25;
$modal-content-border-width: 0;
$modal-header-border-color: $gray-200;
$modal-footer-border-color: $gray-200;
$modal-header-border-width: 1px;
$modal-header-padding-y: $spacer * 0.75;
