/*
 |--------------------------------------------------------------------------
 | Nav Tabs Component
 |--------------------------------------------------------------------------
 | Documentation details:
 | https://getbootstrap.com/docs/5.1/components/navs-tabs/#variables
 |
 */

$nav-tabs-border-radius: $border-radius-md;
$nav-pills-border-radius: $border-radius-md;
$nav-link-color: $gray-600;
