/*
 |--------------------------------------------------------------------------
 | Progress Component
 |--------------------------------------------------------------------------
 | Documentation details:
 | https://getbootstrap.com/docs/5.1/components/progress/#variables
 |
 */

$progress-height: $spacer * 0.5;
$progress-bg: $gray-400;
$progress-font-size: 0.75rem;
