.content {
    border-radius: 30px;
    padding: 0px 22px;
    @include apply("min-vw-0 min-vh-screen bg-theme-2 flex-1 pb-10");
    @include media-breakpoint-down(md) {
        @include apply("px-4 mw-full");
    }
    &:before {
        content: "";
        @include apply("w-full h-px d-block");
    }
}

.dark {
    .content {
        @include apply("bg-dark-1");
    }
}
