.report-chart {
    @include apply("position-relative");
    &:before {
        content: "";
        height: 93%;
        background: linear-gradient(to right, white, #ffffffde, transparent);
        @include apply("w-12 start-0 top-0 ms-10 position-absolute");
        @include media-breakpoint-down(sm) {
            height: 85%;
        }
    }
    &:after {
        content: "";
        height: 93%;
        background: linear-gradient(to right, transparent, #ffffffde, white);
        @include apply("w-12 end-0 top-0 position-absolute me-2");
        @include media-breakpoint-down(sm) {
            height: 85%;
        }
    }
}

.dark {
    .report-chart {
        &:before {
            background: linear-gradient(
                to right,
                #313b56,
                #313b56,
                transparent
            );
        }
        &:after {
            background: linear-gradient(
                to right,
                transparent,
                #313b56,
                #313b56
            );
        }
    }
}
