.zoom-in {
    transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform, filter, backdrop-filter;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include apply("cursor-pointer");
    &:hover {
        transform: scale(1.05) !important;
        @include apply("!shadow-xl");
    }
}
